<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z.z.w.test.dao.TestMapper">
	<insert id="insert" parameterType="z.z.w.test.entity.TbTestUser"
		keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
		TbTestUser(name,age)
		VALUE (#{name},#{age});
		<!-- <selectKey resultType="int" keyProperty="id" order="BEFORE"> -->
		<!-- select id from TbTestUser order by id desc; -->
		<!-- </selectKey> -->
	</insert>
	<resultMap id="userResultMap" type="z.z.w.test.entity.TbTestUser">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>
	<select id="selectAll" resultMap="userResultMap">
		select id, name, age from
		TbTestUser
		order by id desc
	</select>
	<select id="selectUserById" parameterType="java.lang.String"
		resultMap="userResultMap">
		select id, name, age from TbTestUser where id= #{id}
	</select>
	<select id="queryByParam" parameterType="java.util.Map"
		resultMap="userResultMap">
		select id, name, age from
		TbTestUser
		where age = #{age}
		order
		by id desc
	</select>
</mapper>